{% extends 'layouts/base.html' %}

{% block title %}ensimpl ID Converter{% endblock %}

{% block head %}
{% endblock %}

{% block body %}

{% include 'page/nav.html' %}

    <div class="container-fluid h-100">

    <h1>ensimpl ID Lookup</h1>
    <p class="lead">Batch Ensembl ID converter utilizing the ensimpl API.</p>

    <div class="row">
        <div class="col">

            <div class="row h-100">
                <div class="col">

                    <div class="card bg-light h-100">
                        <div class="card-header font-weight-bold">ensimpl Input</div>
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="selectVersion" class="col-4 col-form-label">Species</label>
                                <div class="col-8">
                                    <select class="form-control form-control-sm" id="selectSpecies">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="selectVersion" class="col-4 col-form-label">Version</label>
                                <div class="col-8">
                                    <select class="form-control form-control-sm" id="selectVersion">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="fields" class="col-4 col-form-label">IDs</label>
                                <div class="col-8">
                                    <textarea id="identifiers" class="form-control form-control-sm" rows="7"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="selectIDDB" class="col-4 col-form-label">ID Source Database</label>
                                <div class="col-8">
                                    <select class="form-control  form-control-sm" id="selectIDDB">
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="card-footer text-muted">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" id="btnGo" type="button">Go!</button>
                            </span>
                        </div>

                    </div>

                </div>

                <div class="col">

                    <div class="row h-100">
                        <div class="col">

                            <div class="card bg-light h-100">
                                <div class="card-header font-weight-bold">Download Settings</div>
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label for="emptystring" class="col-4 col-form-label">Empty String</label>
                                        <div class="col-8">
                                            <select class="form-control  form-control-sm" id="emptystring">
                                                <option value="" selected>"" (Empty String)</option>
                                                <option value="NA">NA</option>
                                                <option value="None">None</option>
                                            </select>
                                        </div>
                                    </div>

                            <div class="form-group row">
                                <label for="fields" class="col-4 col-form-label">Output Fields</label>
                                <div class="col-8">

                                    <!--

                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" value="input_id" id="column_input_id">
                                      <label class="form-check-label" for="column_input_id">
                                        Input ID
                                      </label>
                                    </div>
                                    //-->
                                    <div class="form-check m-0">
                                        <input class="form-check-input" type="checkbox" checked="checked" value="Ensembl" id="column_ensembl_id">
                                        <label class="form-check-label" for="column_ensembl_id">
                                            Ensembl ID
                                        </label>
                                    </div>

                                    <div class="form-check m-0">
                                        <input class="form-check-input" type="checkbox" checked="checked" value="Ensembl_homolog" id="column_homolog_id">
                                        <label class="form-check-label" for="column_homolog_id">
                                            Homolog ID
                                        </label>
                                    </div>

                                    <div id="fields_div">


                                    </div>



                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-1">
                                </div>

                                <div class="col-11">


                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" checked="checked" value="" id="include_all">
                                            <label class="form-check-label active" for="include_all">
                                                Include input IDs that are not found
                                            </label>
                                        </div>


                                </div>
                            </div>
                                </div>

                                <div class="card-footer text-muted">
                                    <span class="input-group-btn">
                                        <button class="btn btn-secondary" id="btnDL" type="button">Download</button>
                                    </span>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>



            </div>




        </div>


    </div>

    <br/>

                    <div class="row">
                        <div class="col">


                            <div id="searchStatus"></div>
                            <div id="searchTable"></div>
                        </div>
                    </div>



</div>

{% endblock %}

{% block javascript %}
<script src="{{ url_for('api.ensimpl_js') }}"></script>
<script src="{{ url_for('static', filename='js/Blob.js') }}"></script>
<script src="{{ url_for('static', filename='js/FileSaver.js') }}"></script>


<script>

    <!--

    function nvl(val, def) {
        if (val === '') {
            return def;
        }

        return val;
    }

    /**
     * Perform Ensimpl search.
     */
    function findGene() {
        let identifiers = $("#identifiers").val().trim().toUpperCase().split("\n");
        let species = $("#selectSpecies").val();
        let version = $("#selectVersion").val();
        let source_db = $('#selectIDDB').val();

        $("#searchTable").html('');

        if (identifiers.length === 0) {
            identifiers = null;
        }

        let data = {
            'species': species,
            'version': version,
            'ids': identifiers,
            'source_db': source_db
        };

        let selectionsTemp = $('[id^="column_"]');
        let selections = [];

        $.each(selectionsTemp, function(idx, elem) {
              if ($(elem).is(':checked')) {
                  selections.push(elem);
              }
        });

        if (selections.length === 0) {
            return;
        }


        $('#dl').hide();
        window.IDS = {};

        $.ajax({
              url: '{{ url_for('api.external_ids') }}',
              type: "POST",
              data: data
          }).done(function (data, textStatus, jqXHR) {
                console.log('data=', data);
                window.IDS = data.ids || {};
                let numGenes = 0;


                let h = '<table class="table table-striped"><thead><tr>';
                let defaultValue = $('#emptystring').val();


                h += '<th class="" scope="col">ID</th>';

                $.each(selections, function(idx, elem) {
                    let text = $(elem).parent()[0].innerText;
                    h += `<th class="" scope="col">${text}</th>`;
                });

                h += '</tr></thead><tbody id="tblBody"></tbody></table>';

                $('#searchTable').html(h);

                $.each(identifiers, function(idx, lookup) {
                    let h2 = '';
                    //console.log(lookup);
                    h2 += '<td>' + lookup + '</td>';
                    if ((lookup in data.ids) || ($('#include_all').is(':checked'))) {
                        let elem = data.ids[lookup] || {};
                        $.each(selections, function(idx2, elem2) {
                            if (elem2.value in elem) {
                                h2 += '<td>' + nvl(elem[elem2.value], defaultValue) + '</td>';
                            } else {
                                h2 += '<td>' + defaultValue + '</td>';
                            }
                        });
                        $("#tblBody").append('<tr>' + h2 + '</tr>');
                        numGenes++;
                    }
                });

                let message = '';

                if (identifiers.length > 0) {
                    message = identifiers.length + ' identifiers entered, ';
                }

                numGenes = Object.keys(window.IDS).length;

                if (numGenes === 0) {
                    message += 'No matches found';
                    $('#dl').hide();
                } else if (numGenes === 1) {
                    message += '1 match found';
                    $('#dl').show();
                } else {
                    message += numGenes + ' matches found';
                    $('#dl').show();
                }

                $("#searchStatus").html(message);

          }).fail(function (jqXHR, textStatus, errorThrown) {
              console.error('Ensimpl fail');
              console.error('jqXHR', jqXHR);
              console.error('textStatus', textStatus);
              console.error('errorThrown', errorThrown);
          });


    }


    function onSelected(selection) {
        $("#searchTerm").val(selection.chr + ":" + selection.start + "-" + selection.end);
        findGene();
    }

    function loadData(data, fileName) {
        //var blob = new Blob(["Hello, world!"], {type: "text/plain;charset=utf-8"});
        //FileSaver.saveAs(blob, fileName);
    }

    function saveData(data, fileName) {
        var blob = new Blob(data, {type: "text/plain;charset=utf-8"});
        FileSaver.saveAs(blob, fileName);
    }

    function getDateString() {
        let date = new Date();
        let year = date.getFullYear();
        let month = `${date.getMonth() + 1}`.padStart(2, '0');
        let day =`${date.getDate()}`.padStart(2, '0');
        //let hours = today.getHours();
        //let minutes = today.getMinutes();
        //let seconds = today.getSeconds();
        return `${month}_${day}_${year}`
    }



    $().ready(function () {
        $("#dl").hide();

        window.IDS = null;

        window.ENSIMPL = new ensimpl();

        window.ENSIMPL.versions(function(data) {
            window.ENSIMPL_VERSIONS = {};
            let species = {};

            $.each(data, function(idx, elem) {
                console.log(idx, elem);
                window.ENSIMPL_VERSIONS[elem['version']] = elem;
                species[elem['species']] = elem['species'];
            });

            let vals = Object.values(window.ENSIMPL_VERSIONS);
            vals.sort().reverse();

            $.each(vals, function(key, val) {
                $('#selectVersion').append('<option value="' + val.version + '">' + val.version + ' - ' + val.assembly_patch + '</option>')
            });

            $.each(species, function(key, val) {
                $('#selectSpecies').append('<option value="' + key + '">' + val + '</option>')
            });

            $('#selectSpecies').change(function(evt) {
                let version = $('#selectVersion').val();
                let species = $('#selectSpecies').val();
                $('#selectIDDB').empty();
                $('#fields_div').html('');


                $.ajax({
                      url: `{{ url_for('api.external_dbs') }}?species=${species}&version=${version}`,
                      type: 'GET',
                  }).done(function (data, textStatus, jqXHR) {
                        console.log('data=', data);
                        window.EXTERNALDBS = data.external_dbs || {};

                        $('#selectIDDB').append(`<option value="Ensembl">Ensembl</option>`);
                        $('#selectIDDB').append(`<option value="Ensembl_homolog">Ensembl Homolog</option>`);

                        $.each(window.EXTERNALDBS, function(idx, elem) {
                            $('#selectIDDB').append(`<option value="${elem.external_db_id}">${elem.external_db_name}</option>`);
                            $('#fields_div').append(`
                                    <div class="form-check m-0">
                                        <input class="form-check-input" type="checkbox" checked="checked" value="${elem.external_db_id}" id="column_${elem.external_db_id}">
                                        <label class="form-check-label" for="column_${elem.external_db_id}">
                                            ${elem.external_db_name}
                                        </label>
                                    </div>
                            `);
                        });
                });



            });


            $('#selectSpecies').val('Mm').trigger('change');

        });

        $('#btnGo').button().on('click', function (evt) {
            evt.preventDefault();
            findGene();
            console.log('findGene');
            return false;
        });

        $('#btnDL').button().on('click', function (evt) {
            evt.preventDefault();

            let defaultValue = $('#emptystring').val();
            let header = ['"ID"'];
            let selectionsTemp = $('[id^="column_"]');
            let selections = [];

            $.each(selectionsTemp, function(idx, elem) {
                  if ($(elem).is(':checked')) {
                      selections.push(elem);
                  }
            });

            if (selections.length === 0) {
                return;
            }

            $.each(selections, function(idx, elem) {
                let text = $(elem).parent()[0].innerText;
                header.push(`"${text}"`);
            });

            let data = header.join("\t") + '\n';

            let identifiers = $("#identifiers").val().trim().toUpperCase().split("\n");

            $.each(identifiers, function(idx, lookup) {
                if ((lookup in window.IDS) || ($('#include_all').is(':checked'))) {
                    let elem = window.IDS[lookup] || {};

                    //console.log(elem);

                    let val = ['"' + lookup + '"'];

                    $.each(selections, function(idx2, elem2) {
                        if (elem2.value in elem) {
                            val.push('"' + nvl(elem[elem2.value], defaultValue) + '"');
                        } else {
                            val.push('"' + defaultValue + '"');
                        }
                    });

                    data += (val.join('\t') + '\n');
                }
            });

            let fileName = "ensimpl_convert_" + $("#selectVersion").val() + "_" + getDateString() + ".tsv";

            saveAs(new Blob([data]), fileName);
            return false;
        });


    });
    //-->
</script>

{% endblock %}

