{% extends 'layouts/base.html' %}

{% block title %}ensimpl Lookup{% endblock %}

{% block head %}
    <style>
    .change {
        background-color: darksalmon;
    }
    </style>
{% endblock %}

{% block body %}

{% include 'page/nav.html' %}



    <div class="container-fluid h-100">

    <h1>ensimpl ID History</h1>
    <p class="lead">Ensembl ID history utilizing the ensimpl API.</p>

    <div class="row">
        <div class="col">

            <div class="row h-100">
                <div class="col">

                    <div class="card bg-light h-100">
                        <div class="card-header font-weight-bold">ensimpl Input</div>
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="selectVersion" class="col-4 col-form-label">Species</label>
                                <div class="col-8">
                                    <select class="form-control  form-control-sm" id="selectSpecies">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="selectVersion" class="col-4 col-form-label">Version</label>
                                <div class="col-8">
                                    <select class="form-control  form-control-sm" id="selectVersion">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="fields" class="col-4 col-form-label">ID</label>
                                <div class="col-8">
                                    <input type="text" id="identifier" placeholder="ENSMUSG00000000001" class="form-control form-control-sm"/>
                                </div>
                            </div>


                        </div>

                        <div class="card-footer text-muted">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" id="btnGo" type="button">Go!</button>
                            </span>
                        </div>

                    </div>

                </div>

            </div>




        </div>


    </div>

    <br/>

    <div class="row">
        <div class="col">
            <div id="searchStatus"></div>
            <div id="searchTable"></div>
        </div>
    </div>



</div>

{% endblock %}

{% block javascript %}
<script src="{{ url_for('api.ensimpl_js', _external=False) }}"></script>
<script src="{{ url_for('static', filename='js/Blob.js', _external=False) }}"></script>
<script src="{{ url_for('static', filename='js/FileSaver.js', _external=False) }}"></script>


<script>

    <!--

    function nvl(val, def) {
        if (val === '') {
            return def;
        }

        return val;
    }

    /**
     * Perform Ensimpl search.
     */
    function findGene() {
        let species = $("#selectSpecies").val();
        let version = $("#selectVersion").val();
        let identifier = $("#identifier").val().trim();

        $("#searchTable").html('');

        if (identifier.length === 0) {
            return;
        }

        let data = {
            'species': species,
            'version': version,
            'id': identifier
        };

        $('#dl').hide();
        window.HISTORY = {};

        $.ajax({
              url: '{{ url_for('api.history', _external=False) }}',
              type: "GET",
              data: data
          }).done(function (data, textStatus, jqXHR) {
                console.log('data=', data);
                window.HISTORY = data.history || {};

                let collator = new Intl.Collator(undefined, {numeric: true, sensitivity: 'base'});

                let history_keys = Object.keys(window.HISTORY).sort(collator.compare);

                let prev = window.HISTORY[history_keys[0]][identifier];

                let table = `
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th scope="col">Ensembl</th>
                              <th scope="col">Assembly</th>
                              <th scope="col">Gene Version</th>
                              <th scope="col">Symbol</th>
                              <th scope="col">Name</th>
                              <th scope="col">Chrom</th>
                              <th scope="col">Start</th>
                              <th scope="col">End</th>
                            </tr>
                          </thead><tbody>`;
                table += `<tr><td>${history_keys[0]}</td><td>${window.ENSIMPL_VERSIONS[history_keys[0]].assembly_patch}</td>`;

                if ('ensembl_version' in prev) {
                    table += `<td>${prev.ensembl_version}</td>`;
                } else {
                    table += `<td>&nbsp;</td>`;
                    prev.ensembl_version = null;
                }

                if ('symbol' in prev) {
                    table += `<td>${prev.symbol}</td>`;
                } else {
                    table += `<td>&nbsp;</td>`;
                    prev.symbol = null;
                }

                if ('name' in prev) {
                    table += `<td>${prev.name}</td>`;
                } else {
                    table += `<td>&nbsp;</td>`;
                    prev.name = null;
                }

                if ('chromosome' in prev) {
                    table += `<td>${prev.chromosome}</td>`;
                } else {
                    table += `<td>&nbsp;</td>`;
                    prev.chromosome = null;
                }

                if ('start' in prev) {
                    table += `<td>${prev.start}</td>`;
                } else {
                    table += `<td>&nbsp;</td>`;
                    prev.start = null;
                }

                if ('end' in prev) {
                    table += `<td>${prev.end}</td>`;
                } else {
                    table += `<td>&nbsp;</td>`;
                    prev.end = null;
                }

                table += '</tr>';


                for(let i = 1; i < history_keys.length; i++) {
                    let curr = window.HISTORY[history_keys[i]][identifier];

                    table += `<tr><td>${history_keys[i]}</td>`;

                    if (window.ENSIMPL_VERSIONS[history_keys[i]].assembly_patch !== window.ENSIMPL_VERSIONS[history_keys[i-1]].assembly_patch) {
                        table += `<td class="change">${window.ENSIMPL_VERSIONS[history_keys[i]].assembly_patch}</td>`;
                    } else {
                        table += `<td>${window.ENSIMPL_VERSIONS[history_keys[i]].assembly_patch}</td>`;

                    }


                    if ('ensembl_version' in curr) {
                        if (prev.ensembl_version !== curr.ensembl_version) {
                            table += `<td class="change">${curr.ensembl_version}</td>`;
                        } else {
                            table += `<td>${curr.ensembl_version}</td>`;
                        }
                    } else {
                        curr.ensembl_version = null;
                        if (prev.ensembl_version !== curr.ensembl_version) {
                            table += `<td class="change">&nbsp;</td>`;
                        } else {
                            table += `<td>&nbsp;</td>`;
                        }
                    }

                    if ('symbol' in curr) {
                        if (prev.symbol !== curr.symbol) {
                            table += `<td class="change">${curr.symbol}</td>`;
                        } else {
                            table += `<td>${curr.symbol}</td>`;
                        }
                    } else {
                        curr.symbol = null;
                        if (prev.symbol !== curr.symbol) {
                            table += `<td class="change">&nbsp;</td>`;
                        } else {
                            table += `<td>&nbsp;</td>`;
                        }
                    }

                    if ('name' in curr) {
                        if (prev.name !== curr.name) {
                            table += `<td class="change">${curr.name}</td>`;
                        } else {
                            table += `<td>${curr.name}</td>`;
                        }
                    } else {
                        curr.name = null;
                        if (prev.name !== curr.name) {
                            table += `<td class="change">&nbsp;</td>`;
                        } else {
                            table += `<td>&nbsp;</td>`;
                        }
                    }

                    if ('chromosome' in curr) {
                        if (prev.chromosome !== curr.chromosome) {
                            table += `<td class="change">${curr.chromosome}</td>`;
                        } else {
                            table += `<td>${curr.chromosome}</td>`;
                        }
                    } else {
                        curr.chromosome = null;
                        if (prev.chromosome !== curr.chromosome) {
                            table += `<td class="change">&nbsp;</td>`;
                        } else {
                            table += `<td>&nbsp;</td>`;
                        }
                    }

                    if ('start' in curr) {
                        if (prev.start !== curr.start) {
                            table += `<td class="change">${curr.start}</td>`;
                        } else {
                            table += `<td>${curr.start}</td>`;
                        }
                    } else {
                        curr.start = null;
                        if (prev.start !== curr.start) {
                            table += `<td class="change">&nbsp;</td>`;
                        } else {
                            table += `<td>&nbsp;</td>`;
                        }
                    }

                    if ('end' in curr) {
                        if (prev.end !== curr.end) {
                            table += `<td class="change">${curr.end}</td>`;
                        } else {
                            table += `<td>${curr.end}</td>`;
                        }
                    } else {
                        curr.end = null;
                        if (prev.end !== curr.end) {
                            table += `<td class="change">&nbsp;</td>`;
                        } else {
                            table += `<td>&nbsp;</td>`;
                        }
                    }

                    table += '</tr>';

                    prev = curr;
                }


                $('#searchTable').html('<table>' + table + '</tbody></table>');


/*
                //$.each(history_keys.reverse(), function(idx, elem) {
                $.each(history_keys, function(idx, elem) {
                    console.log(idx, elem);

                });
*/
                //numGenes = Object.keys(window.HISTORY)        ;
                let numGenes = 0;
/*

                let h = '<table class="table table-striped"><thead><tr>';
                let defaultValue = $('#emptystring').val();


                h += '<th class="" scope="col">ID</th>';

                $.each(selections, function(idx, elem) {

                    if (elem.value === 'gene_id') {
                        h += '<th class="" scope="col">Gene ID</th>';
                    } else if (elem.value === 'symbol') {
                        h += '<th class="" scope="col">Symbol</th>';
                    } else if (elem.value === 'description') {
                        h += '<th class="" scope="col">Description</th>';
                    } else if (elem.value === 'location') {
                        h += '<th class="" scope="col">Location</th>';
                    } else if (elem.value === 'strand') {
                        h += '<th class="" scope="col">Strand</th>';
                    } else if (elem.value === 'synonyms') {
                        h += '<th class="" scope="col">Synonyms</th>';
                    } else if (elem.value === 'external_ids') {
                        h += '<th class="" scope="col">External ID</th>';
                    }
                });

                h += '</tr></thead><tbody id="tblBody"></tbody></table>';

                $('#searchTable').html(h);

                $.each(identifiers, function(idx, lookup) {
                    if (numGenes < 100) {
                        let h2 = '';
                        //console.log(lookup);
                        h2 += '<td>' + lookup + '</td>';
                            if ((lookup in data.ids) || ($('#include_all').is(':checked'))) {
                                let elem = data.ids[lookup] || {};

                                $.each(selections, function(idx2, elem2) {

                                    if (elem2.value === 'gene_id') {
                                        if ('id' in elem) {
                                            h2 += '<td>' + nvl(elem.id, defaultValue) + '</td>';
                                        } else {
                                            h2 += '<td>' + defaultValue + '</td>';
                                        }
                                    } else if (elem2.value === 'symbol') {
                                        if ('symbol' in elem) {
                                            h2 += '<td>' + nvl(elem.symbol, defaultValue) + '</td>';
                                        } else {
                                            h2 += '<td>' + defaultValue + '</td>';
                                        }
                                    } else if (elem2.value === 'description') {
                                        if ('name' in elem) {
                                            h2 += '<td>' + nvl(elem.name, defaultValue) + '</td>';
                                        } else {
                                            h2 += '<td>' + defaultValue + '</td>';
                                        }
                                    } else if (elem2.value === 'location') {
                                        if (('chromosome' in elem) && ('start' in elem) && ('end' in elem)) {
                                            h2 += '<td>' + elem.chromosome + ':' + elem.start + '-' + elem.end + '</td>';
                                        } else {
                                            h2 += '<td>' + defaultValue + '</td>';
                                        }

                                    } else if (elem2.value === 'strand') {
                                        if ('strand' in elem) {
                                            h2 += '<td>' + nvl(elem.strand, defaultValue) + '</td>';
                                        } else {
                                            h2 += '<td>' + defaultValue + '</td>';
                                        }
                                    } else if (elem2.value === 'synonyms') {
                                        if ('synonyms' in elem) {
                                            let synonyms = elem['synonyms'].join(':');
                                            h2 += '<td>' + nvl(synonyms, defaultValue) + '</td>';
                                        } else {
                                            h2 += '<td>' + defaultValue + '</td>';
                                        }

                                    } else if (elem2.value === 'external_ids') {
                                        if ('external_ids' in elem) {
                                            let external_ids = null;

                                            $.each(elem.external_ids, function(i, e) {
                                                if ((e['db'] === 'MGI') || (e['db'] === 'HGNC')) {
                                                    external_ids = e['db_id'];
                                                }
                                            });

                                            h2 += '<td>' + nvl(external_ids, defaultValue) + '</td>';
                                        } else {
                                            h2 += '<td>' + defaultValue + '</td>';
                                        }
                                    }
                            });
                            $("#tblBody").append('<tr>' + h2 + '</tr>');
                            numGenes++;
                        }
                    }

                });

                let message = '';

                if (identifiers.length > 0) {
                    message = identifiers.length + ' identifiers entered, ';
                }

                numGenes = Object.keys(window.HISTORY).length;

                if (numGenes === 0) {
                    message += 'No matches found';
                    $('#dl').hide();
                } else if (numGenes === 1) {
                    message += '1 match found';
                    $('#dl').show();
                } else if (numGenes > 100) {
                    message += numGenes + ' matches found, displaying first 100';
                    $('#dl').show();
                } else {
                    message += numGenes + ' matches found';
                    $('#dl').show();
                }

                $("#searchStatus").html(message);
                */

          }).fail(function (jqXHR, textStatus, errorThrown) {
              console.error('Ensimpl fail');
              console.error('jqXHR', jqXHR);
              console.error('textStatus', textStatus);
              console.error('errorThrown', errorThrown);
          });


    }



    function loadData(data, fileName) {
        //var blob = new Blob(["Hello, world!"], {type: "text/plain;charset=utf-8"});
        //FileSaver.saveAs(blob, fileName);
    }

    function saveData(data, fileName) {
        var blob = new Blob(data, {type: "text/plain;charset=utf-8"});
        FileSaver.saveAs(blob, fileName);
    }

    function getDateString() {
        let date = new Date();
        let year = date.getFullYear();
        let month = `${date.getMonth() + 1}`.padStart(2, '0');
        let day =`${date.getDate()}`.padStart(2, '0');
        //let hours = today.getHours();
        //let minutes = today.getMinutes();
        //let seconds = today.getSeconds();
        return `${month}_${day}_${year}`
    }



    $().ready(function () {
        $("#dl").hide();

        window.HISTORY = null;

        window.ENSIMPL = new ensimpl();

        window.ENSIMPL.versions(function(data) {
            window.ENSIMPL_VERSIONS = {};
            let species = {};

            $.each(data, function(idx, elem) {
                window.ENSIMPL_VERSIONS[elem['version']] = elem;
                species[elem['species']] = elem['species'];
            });

            let vals = Object.values(window.ENSIMPL_VERSIONS);
            vals.sort().reverse();

            $.each(vals, function(key, val) {
                $("#selectVersion").append('<option value="' + val.version + '">' + val.version + ' - ' + val.assembly_patch + '</option>')
            });

            $.each(species, function(key, val) {
                $("#selectSpecies").append('<option value="' + key + '">' + val + '</option>')
            });

            $('#selectSpecies').val('Mm');

        });

        $('#btnGo').button().on('click', function (evt) {
            evt.preventDefault();
            findGene();
            console.log('findGene');
            return false;
        });

        $('#btnDL').button().on('click', function (evt) {
            evt.preventDefault();

            let defaultValue = $('#emptystring').val();
            let header = ['"ID"'];
            let selectionsTemp = $('[id^="column_"]');
            let selections = [];

            $.each(selectionsTemp, function(idx, elem) {
                  if ($(elem).is(':checked')) {
                      selections.push(elem);
                  }
            });

            if (selections.length === 0) {
                return;
            }

            $.each(selections, function(idx, elem) {
                if (elem.value === 'gene_id') {
                    header.push('"Gene ID"');
                } else if (elem.value === 'symbol') {
                    header.push('"Gene Symbol"');
                } else if (elem.value === 'description') {
                    header.push('"Gene Description"');
                } else if (elem.value === 'location') {
                    header.push('"Gene Chromosome"');
                    header.push('"Gene Start"');
                    header.push('"Gene End"');
                } else if (elem.value === 'strand') {
                    header.push('"Gene Strand"');
                } else if (elem.value === 'synonyms') {
                    header.push('"Gene Synonyms"');
                } else if (elem.value === 'external_ids') {
                    header.push('"External ID"');
                }
            });

            let data = header.join("\t") + '\n';

            let identifiers = $("#identifiers").val().trim().toUpperCase().split("\n");

            $.each(identifiers, function(idx, lookup) {
                if ((lookup in window.HISTORY) || ($('#include_all').is(':checked'))) {
                    let elem = window.HISTORY[lookup] || {};

                    //console.log(elem);

                    let val = ['"' + lookup + '"'];

                    $.each(selections, function(idx2, elem2) {

                        if (elem2.value === 'gene_id') {
                            if ('id' in elem) {
                                val.push('"' + nvl(elem.id, defaultValue) + '"');
                            } else {
                                val.push('"' + defaultValue + '"');
                            }
                        } else if (elem2.value === 'symbol') {
                            if ('symbol' in elem) {
                                val.push('"' + nvl(elem.symbol, defaultValue) + '"');
                            } else {
                                val.push('"' + defaultValue + '"');
                            }
                        } else if (elem2.value === 'description') {
                            if ('name' in elem) {
                                val.push('"' + nvl(elem.name, defaultValue) + '"');
                            } else {
                                val.push('"' + defaultValue + '"');
                            }
                        } else if (elem2.value === 'location') {
                            if (('chromosome' in elem) && ('start' in elem) && ('end' in elem)) {
                                val.push('"' + elem.chromosome + '"');
                                val.push(elem.start);
                                val.push(elem.end);
                            } else {
                                val.push('"' + defaultValue + '"');
                            }
                        } else if (elem2.value === 'strand') {
                            if ('strand' in elem) {
                                val.push('"' + nvl(elem.strand, defaultValue) + '"');
                            } else {
                                val.push('"' + defaultValue + '"');
                            }
                        } else if (elem2.value === 'synonyms') {
                            if ('synonyms' in elem) {
                                val.push('"' + nvl(elem.synonyms.join(':'), defaultValue) + '"');
                            } else {
                                val.push('"' + defaultValue + '"');
                            }
                        } else if (elem2.value === 'external_ids') {

                            if ('external_ids' in elem) {
                                let external_ids = null;

                                $.each(elem.external_ids, function(i, e) {
                                    if ((e['db'] === 'MGI') || (e['db'] === 'HGNC')) {
                                        external_ids = e['db_id'];
                                    }
                                });

                                val.push('"' + nvl(external_ids, defaultValue) + '"');
                            } else {
                                val.push('"' + defaultValue + '"');
                            }
                        }
                    });

                    data += (val.join('\t') + '\n');
                }
            });

            let fileName = "ensimpl_lookup_" + $("#selectVersion").val() + "_" + getDateString() + ".tsv";


            saveAs(new Blob([data]), fileName);
            return false;
        });


    });
    //-->
</script>

{% endblock %}

