<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="{{ url_for('page.index', _external=False) }}">ensimpl</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <!-- ml-auto will push all links to RIGHT //-->
      <!-- mr-auto will push all links to LEFT //-->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a href="{{ url_for('page.search', _external=False) }}" class="pl-5"><i class="fas fa-code"></i> Search</a>
          </li>
          <li class="nav-item">
              <a href="{{ url_for('page.navigator', _external=False) }}" class="pl-5"><i class="fas fa-info-circle"></i> Navigator</a>
          </li>
          <li class="nav-item">
              <a href="{{ url_for('page.lookup', _external=False) }}" class="pl-5"><i class="fas fa-question-circle"></i> Lookup</a>
          </li>
          <li class="nav-item">
              <a href="{{ url_for('page.history', _external=False) }}" class="pl-5"><i class="fas fa-question-circle"></i> History</a>
          </li>
          <li class="nav-item">
              <a href="{{ url_for('page.help', _external=False) }}" class="pl-5"><i class="fas fa-question-circle"></i> Help</a>
          </li>
      </ul>
  </div>
</nav>
